/* Resetting default browser styles */
html, body, header, nav, ul, li, a, p, h1, section, main, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgb(107,84,255);
    background: linear-gradient(90deg, rgba(107,84,255,1) 0%, rgba(208,80,188,1) 50%, rgba(252,176,69,1) 100%);
    color: #FFFFFF;
    text-shadow: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 0px;
}

#intro {
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
